/*----------- iPad Pro -----------*/
@media (max-width: 1024px) {
	#items {
		width: 5020px;
		position: relative;
		top: 0;
		left: -1004px;
	}
	.slide img {
		height: 502px;

	}
}

/*----------- iPad -----------*/
@media (max-width: 768px) {
	#items {
		width: 3720px;
		position: relative;
		top: 0;
		left: -744px;
	}
	.slide img {
		height: 372px;

	}
}

/*----------- iPhone 6/7/8 Plus -----------*/
@media (max-width: 445px) {
	#items {
		width: 1960px;
		position: relative;
		top: 0;
		left: -377px;
	}
	.slide img {
		height: 196px;

	}
}

/*----------- iPhone 6/7/8 Plus -----------*/
@media (max-width: 414px) {
	#items {
		width: 1960px;
		position: relative;
		top: 0;
		left: -391px;
	}
	.slide img {
		height: 196px;

	}
}

/*----------- Pixel 2, Pixel 2 XL -----------*/
@media (max-width: 411px) {
	#items {
		width: 1950px;
		position: relative;
		top: 0;
		left: -390px;
	}
	.slide img {
		height: 195px;

	}
}

/*----------- Nexus 4 -----------*/
@media (max-width: 384px) {
	#items {
		width: 1950px;
		position: relative;
		top: 0;
		left: -361px;
	}
	.slide img {
		height: 181px;

	}
}

/*----------- iPhone 6/7/8, iPhone X-----------*/
@media (max-width: 375px) {
	#items {
		width: 1950px;
		position: relative;
		top: 0;
		left: -354px;
	}
	.slide img {
		height: 177px;

	}
}

/*----------- Galexy S5 -----------*/
@media (max-width: 360px) {
	#items {
		width: 1950px;
		position: relative;
		top: 0;
		left: -361px;
	}
	.slide img {
		height: 181px;

	}
}

/*----------- iPhone 4, iPhone 5/SE -----------*/
@media (max-width: 320px) {
	#items {
		width: 1950px;
		position: relative;
		top: 0;
		left: -300px;
	}
	.slide img {
		height: 150px;

	}
}