@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap');
html {
	scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 400;
    background-color: #f0f0f0;
    font-family: 'Source Sans Pro', sans-serif;
}
section {
	margin: 10px;
	margin-bottom: 15px;
}
.container {
	background-color: #fff;
    display: block;
    border-radius: 13px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    padding: 15px 10px;
    overflow: hidden;
}
.slider-container {
	background-color: #fff;
    display: block;
    border-radius: 13px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    overflow: hidden;
}
.slider {
	position: relative;
	width: 100%;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.wrapper {
	overflow: hidden;
	position: relative;
	background: #222;
	z-index: 1;
}
#items {
	width: 1800px;
	position: relative;
	top: 0;
	left: -340px;
}
#items.shifting {
	transition: left .2s ease-out;
}
.slide {
	cursor: pointer;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 1s;
	position: relative;
	background: #FFCF47;
}
.slide img {
	height: 170px;
}
.control {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	z-index: 2;
	color: #fff !important;
}
.control i {
	padding: 0 5px;
}
.bg-overlay {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.4) 30%,rgba(0, 0, 0, 0.9));
	width: 100%;
    height: 100%;
    position: absolute;
}
.prev, .next {
	background-size: 22px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.prev:active,
.next:active {
	transform: scale(0.8);
}
.footer-menu {
	left: 0;
    z-index: 999;
    background-color: rgba(249,249,249,.98);
    min-height: 60px;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.06);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    transition: all 250ms ease;
    right: 0;
}
.footer-menu a {
	display: inline-grid;
	width: 20%;
	color: #1f1f1f;
	float: left;
	text-align: center;
	text-decoration: none;
}
.footer-menu a .fa {
	padding-top: 13px;
	font-size: 18px;
}
.footer-menu a span {
	font-size: 12px;
}
.profile-pic {
	padding: 0 15px;
}
.profile-pic img {
	width: 65px;
	height: 65px;
}
.profile-info p {
	margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: .5px;
}
.social-media {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.social-media li {
	width: 20%;
	display: inline;
}
.social-media li a {
	padding: 0 10px;
}
.social-media img {
	width: 30px;
	height: 30px;
}
.about h5, .gallery-container h5, .map-container h5, .review-form h5 {
	font-weight: 600;
}
.about p {
	text-align: justify;
}
.about p:last-child {
	margin-bottom: 0;
}
.gallery-container {
	width: 100%;
	display: block;
}
.gallery-container {
	font-size: 12px;
	font-weight: 300;
}
.demo-gallery > ul {
	margin-bottom: 0;
}
.demo-gallery > ul > li {
    float: left;
    width: calc((100%/3) - 4px);
    display: inline-flex;
    border: 1px solid #848484;
    margin: 0 2px;
    height: 100px;
    border-radius: 13px;
    margin-bottom: 4px;
}
.demo-gallery > ul > li a {
	border: 2px solid #FFF;
	border-radius: 13px;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
}
.demo-gallery > ul > li a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	width: 100%;
	height: 100%;
	border-radius: 13px;
}
.demo-gallery > ul > li a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
	height: 48px;
	margin-left: -24px;
	margin-top: -24px;
	opacity: 0.8;
	width: 48px;
}
.demo-gallery.dark > ul > li a {
	border: 3px solid #04070a;
}
.home .demo-gallery {
	padding-bottom: 80px;
}
.map iframe {
	border-radius: 13px;
	border: 1px solid #848484;
}
.get {
    background: #6c757d;
    border-radius: 21px;
    height: 40px;
    padding: 0 10px;
    margin-top: 5px;
}
.get h5 {
    margin: 0;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}
.get h5 .fa {
    background: #495057;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    float: right;
    font-size: 20px;
    margin-top: 2px;
}
.review-form .btn {
	width: 100%;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.rate2 {
    font-size: 35px;
}
.rate2 .rate-hover-layer {
    color: pink;
}
.rate2 .rate-select-layer {
    color: red;
}
/*link-share */
.link-share .iti__hide {
  display: none; }

.link-share pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }

.link-share input, button {
  height: 45px;
  margin: 0;
  padding: 2px 15px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit; }
.link-share input[disabled], button[disabled] {
    background-color: #eee; }

.link-share input, select {
  border: 1px solid #CCC;
  width: 100%; }

.link-share ::-webkit-input-placeholder {
  color: #BBB; }

.link-share ::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBB;
  opacity: 1; }

.link-share :-ms-input-placeholder {
  color: #BBB; }

.link-share button {
  color: #FFF;
  background-color: #428BCA;
  border: 1px solid #357EBD; }
  button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer; }

.link-share #result {
  margin-bottom: 100px; }
.link-share .input-group-text, .link-share input {
	border: 2px solid #25D366;
}
.link-share .input-group-text {
	background-color: #25D366;
	padding: 0 25px;
	border-radius: 0 13px 13px 0;
}
.link-share .input-group-text .fa {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.enquiry-item {
	background-color: #007bff;
	margin: 10px 0;
    height: 45px;
    border-radius: 13px;
}
.enquiry-item a {
	color: #fff;
    line-height: 40px;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}
.enquiry-item .fa {
	font-size: 20px;
    float: right;
    padding: 12px 15px;
    background-color: #0064d0;
    margin-right: 12px;
    color: #fff;
}